
    
{% extends "Home.html" %}

{% block content %}
    <h3 class="heading text-primary"> Group Listing</h3>
    

    <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Group</th>

      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>

    {% for row in categoriesList %}
        <tr>
            <td>{{ row }}</td>

        <td>
            <a href="/WordCloudView?category={{ row }}" class="btn btn-outline-info btn-sm ">Show Word Cloud</a>
        </td>
        </tr>
    {% endfor %}
   </tbody>
</table>

{% endblock %}
    
    
    